.clip-path{
  display: flex;
  position: relative;
  flex-wrap: wrap;
  height: 400px;
}
.clip-path__block{
  width: 300px;
  height: 300px;
  position: absolute;
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  box-shadow: inset 2px 4px 67px -16px #000;
  &:hover{
    transform: scale(1.2);
    z-index: 10;
  }
  &--1{
    background-color: #56abff;
    top: 0;
    right: 350px;
  }
  &--2{
    background-color: #ff82b8;
    top: 135px;
    right: 125px;

  }
  &--3{
    background-color: #6fff54;
    top: 180px;
    right: 350px;
  }
  &--4{
    background-color: #4dffd5;
    top: 135px;
    left: 125px;
  }
  &--5{
    top: 270px;
    left: 300px;
  }
  &--6{
    top: 360px;
    left: 450px;
  }
  &--7{
    top: 270px;
    left: 600px;
  }
}
