.table-price {
  width: 100%;
  margin-top: 7px;
  margin-bottom: 5px;
  border-collapse: collapse;
  tr:nth-child(even) {
	background: #f4f6f7;
  }
  td, th{
  	border: 1px solid #dbdbdb;
 		text-align: left;
  	padding: 7px;
  }
  th {
  	text-align:center;
  	color: #ffffff;
		background-image: linear-gradient(to top, #1188F0 0%, #2b5385 60%)
  }
  caption {
		text-align: center;
		font-weight: 700;
		font-size: 22px;
		color: #555555;
  }
}
